  #mainPopup {
    padding: 0;
    margin: 0;
  }

  label[for="ac-head"] {
    font-size: 2.1em;
    margin: 0;
    background-color: #24292e;
    border: none;
  }

  label[for="ac-head"]:hover {
    font-size: 2.1em;
    margin: 0;
    background-color: #24292e;
    color: #b3bccc;
    border: none;
  }

  .table {
    width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0;
  }

  .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1.2px solid #DDD;
    font-size: 1.2em;
    color: #FFFFFF;
  }

  table tbody tr td:first-child {
    width: 50%;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Consolas;
  }

  table tbody tr td:first-child span:first-child {
    color: #FFFFFF;
  }

  table tbody tr td:first-child span:nth-child(2) {
    color: #FFFFFF;
  }

  .ac-container div:nth-child(2) table tbody tr td:first-child {
    width: 50%;
  }

  .ac-container input:checked#ac-head ~ article {
    height: 100px;
  }

  .ac-container input:checked#ac-0 ~ article {
    height: 375px;
  }

  .ac-container input:checked#ac-1 ~ article {
    height: 150px;
  }

  .ac-container input:checked#ac-2 ~ article {
    height: 240px;
  }

  .ac-container input:checked#ac-3 ~ article {
    height: 510px;
  }

  .ac-container input:checked#ac-4 ~ article {
    height: 370px;
  }

  .ac-container input:checked#ac-5 ~ article {
    height: 390px;
  }

  .ac-container input:checked#ac-6 ~ article {
    height: 280px;
  }

  .ac-container input:checked#ac-7 ~ article {
    height: 880px;
  }

  .ac-container input:checked#ac-8 ~ article {
    height: 1350px;
  }

  .ac-container input:checked#ac-9 ~ article {
    height: 1280px;
  }

  .ac-container input:checked#ac-10 ~ article {
    height: 400px;
  }

  .ac-container input:checked#ac-11 ~ article {
    height: 100px;
  }
